spring:
  datasource:
    driver-class-name: org.h2.Driver
    schema: classpath:db/schema-h2.sql
    data: classpath:db/data-h2.sql
    url: jdbc:h2:mem:test
    username: admin
    password: 123456
ss:
  snowflake:
    worker-id: 1
    datacenter-id: 1
  user-port:
    min: 10000
    max: 20000
logging:
  level:
    com.hellozjf.project.shadowsocks: info